
.App {
	text-align: center;
}

.App-header {
	background-color: #484860;
	height: 6vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.App-link {
	color: #61dafb;
}